.Plastic-bin {
    background-image: url('./img/background-plastic.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3px 0;
}

.Plastic-text {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
.Plastic-text ul {
    margin: 0;
}

.Plastic-text ul li {
    background-color: white;
    opacity: 0.8;
    margin: 2px 0;
}

.Plastic-first-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}